body{
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

#wrapper {
    margin: 20px;
    padding: 25px;
    border: solid black 2px;
    border-radius: 30px;
    background-color: blanchedalmond;
    width: 1000px;
}

#form {
    display: flex;
    flex-direction: column;

}

form{
    padding: 6px;
    border-radius: 6px;
    font-size: larger;
}

#result > #result {
    margin-top: 15px;
    padding: 6px;
    border-radius: 6px;
    border: solid black 2px;
    background-color: rgba(255, 255, 255, 0.288);
}

#courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

}

.done {
    background-color: rgba(0, 128, 0, 0.253);
}

.notdone {
    background-color: rgba(170, 16, 16, 0.315);
}

.done, .notdone {
    border: 1px solid black;
    display: grid;
}


p {
    font-size: 12px;
    margin: 3px;
}

h4 {
    font-size: 15px;
    margin: 2px;
}